In [236]:
import pandas as pd
import csv
import sys
import numpy as np
import string
import re

### Read in csv

In [237]:
tweets = pd.read_csv('realDonaldTrump_tweets.csv', names=['id', 'created_at', 'text'], header = 0) 
tweets = tweets.fillna(value='N/A')

In [238]:
tweets.head()

,id,created_at,text
0,774299479155544064,2016-09-09 17:32:36,"b'Henry McMaster, Lt. Governor of South Caroli..."
1,774281441144344576,2016-09-09 16:20:55,b'RT @EricTrump: Join @TeamTrump on Saturday f...
2,774256782290128896,2016-09-09 14:42:56,b'Jeff Zucker failed @NBC and he is now failin...
3,774255510191239170,2016-09-09 14:37:53,b'.@CNN is unwatchable. Their news on me is fi...
4,774097705513517057,2016-09-09 04:10:49,"b""The documentary of me that @CNN just aired i..."

### Cleaning up file

In [239]:
for i, row in tweets.iterrows():
    
    # removing all annoying characters
    r1 = (row['text'])[1:] # removing 1st character
    r2 = r1.replace('\\n', ' ')
    r3 = r2.replace("\\'", "\'")
    r3 = r3.replace('&amp;', '&')
    
    
    if '\\xe' in r3:
        to_find = '\\xe'
        start_index = r3.index(to_find)
        r3 = r3[:start_index] + r3[start_index+12:]
    
    '''
    r4 = r3.replace('\\xe2\\x80\\x99', "\'")
    r5 = r4.replace('\\xe2\\x80\\xa6', "\'")
    r6 = r5.replace('\\xe2\\x80\\x98', "\'")
    '''
    
    # removing enclosing quotations
    while r3.startswith('"') or r3.startswith('\''):
        r3 = r3[1:]
    while r3.endswith('"') or r3.endswith('\''):
        r3 = r3[:-1]
    
    tweets.set_value(i, 'text', r3)

tweets.head()

,id,created_at,text
0,774299479155544064,2016-09-09 17:32:36,"Henry McMaster, Lt. Governor of South Carolina..."
1,774281441144344576,2016-09-09 16:20:55,RT @EricTrump: Join @TeamTrump on Saturday for...
2,774256782290128896,2016-09-09 14:42:56,Jeff Zucker failed @NBC and he is now failing ...
3,774255510191239170,2016-09-09 14:37:53,.@CNN is unwatchable. Their news on me is fict...
4,774097705513517057,2016-09-09 04:10:49,The documentary of me that @CNN just aired is ...

### Outputting clean data to csv

In [ ]:
tweets = tweets['text']
tweets.to_csv('tweets.csv', header = 0)